h2,h3{
    padding: 10px 20px;
    color: white;
    /* font-size: 30px; */
}

#board{
    width: 1100px;
    height: 620px;
    background: url('asset/bG.jpg');
    background-size: 100% 100%;
    margin: 20px auto;
    margin-top: 96px;
    box-shadow: -5px 5px 7px #55518B,
    5px -5px 7px #14A1E9;
}

#area{
    width: 1100px;
    height: 620px;
    position: absolute;
    overflow: hidden;
}
#areaa{
    width: 1100px;
    height: 620px;
    position: absolute;
    overflow: hidden;
}

@keyframes lari{
    0%{
        background: url('asset/run1.png');
        background-size: 100% 100%;
    }
    20%{
        background: url('asset/run2.png');
        background-size: 100% 100%;
    }
    50%{
        background: url('asset/run3.png');
        background-size: 100% 100%;
    }
    75%{
        background: url('asset/run4.png');
        background-size: 100% 100%;
    }
}
#dino{
    width: 95px;
    height: 100px;
    background: url('asset/run1.png');
    background-size: 100% 100%;
    position: absolute;
    margin-top: 353px;
    margin-left: 70px;
    animation: lari 0.3s infinite;
    transition: 1s;
}

@keyframes jump{
    0%{
        background: url('asset/jump1.png');
        background-size: 100% 100%;
    }
    20%{
        background: url('asset/jump3.png');
        background-size: 100% 100%;
    }
    50%{
        background: url('asset/jump2.png');
        background-size: 100% 100%;
    }
    75%{
        background: url('asset/jump4.png');
        background-size: 100% 100%;
    }
}

#dino.freezee{
    animation: none;
    background: url('asset/jump4.png');
    background-size: 100% 100%;
    animation: jump 0.5s ;
    transition: 1s;

}


@keyframes jatuh{
    0%{
        background: url('asset/jatuhblue1.png');
        background-size: 100% 100%;
    }
    20%{
        background: url('asset/jatuhblue2.png');
        background-size: 100% 100%;
    }
    50%{
        background: url('asset/jatuhblue3.png');
        background-size: 100% 100%;
    }
    75%{
        background: url('asset/jatuhblue4.png');
        background-size: 100% 100%;
    }
}

#dino.freeze{
    animation: none;
    background: url('asset/jatuhblue5.png');
    background-size: 100% 100%;
    animation: jatuh 0.8s ;
    transition: 1s;

}

#box{
    width: 116px;
    height: 75px;
    margin-top: 378px;
   margin-left: 630px;
    background: url('asset/batu.png');
    background-size: 100% 100%;
}

#box2{
    width: 100px;
    height: 30px;
    margin-top: 420px;
   margin-left: 6310px;
    background: url('asset/Skeleton.png');
    background-size: 100% 100%;
}